aiogram==2.25.1
aiohttp==3.8.4
aiosignal==1.3.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
Babel==2.9.1
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.5.7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
charset-normalizer==3.1.0
click==8.1.6
colorama==0.4.6
config==0.5.1
coreapi==2.3.3
coreschema==0.0.4
Django==4.2.2
django-cors-headers==4.0.0
django-jazzmin==2.6.0
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.5
emoji==2.8.0
et-xmlfile==1.1.0
fpdf==1.7.2
frozenlist==1.3.3
gTTS==2.3.2
idna==3.4
inflection==0.5.1
instagpy==0.1.10
itypes==1.2.0
Jinja2==3.1.2
lxml==4.9.3
magic-filter==1.0.9
MarkupSafe==2.1.3
multidict==6.0.4
numpy==1.25.1
opencv-python==4.8.0.74
openpyxl==3.1.2
packaging==23.1
Pillow==9.5.0
PyJWT==1.7.1
pypng==0.20220715.0
PySocks==1.7.1
pytz==2023.3
qrcode==7.4.2
reportlab==4.0.4
requests==2.31.0
ruamel.yaml==0.17.31
ruamel.yaml.clib==0.2.7
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.3
yarl==1.9.2
colorama==0.4.6
config==0.5.1
coreapi==2.3.3
coreschema==0.0.4